@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --dark-one-color:rgb(19, 19, 19);
    --dar-three-color:rgb(114, 114, 114);
}
body{
    max-width: 1240px;
    margin: 0 auto;
    font-family: Work Sans;
}
/* share style */
.display-flex{
    display:flex;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
.nav-bar{
    /* display: flex; */
    justify-content: space-between;
    margin: 0;
    padding: 20px;


}
.brand-name{
    color: var(--dark-one-color);
    font-family: Work Sans;
    font-size: 2.188rem;
    font-weight: 400;
    text-align: center;
}
.navlist{
gap: 30px ;
margin-top: 35px;
}
.navlist li{
    list-style: none;

}
.navlist li> a{
    text-decoration: none;
   color: rgb(66, 66, 66);
}
/* section introduction */
.introdruction{

}
.introduction-content{
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.intro-heading{
    color: var(--dark-one-color);
    font-family: Work Sans;
    font-size: 3.375rem;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
    margin-bottom: 0;
}
.intro-discription{
color: var(--dar-three-color);
font-size: 0.9rem;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.primary-button{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 0.95rem;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
height: 45px;
width: 150px;
border: 0;
cursor: pointer;
}
.banner-image{
    width: 90%;
   margin: 50px 0px;

}
.image-banner{
    justify-content: center;
}
@media screen and (max-width:576px) {
    .nav-bar,
    .features-list

    {
        flex-direction: column;
    } 
    body{
        max-width: 450px;
        margin: 0px auto;
    }
}
/* section quick-features */
.features-list{
    justify-content: space-between;
    gap: 30px;
    margin: 120px 0px;

}
.image-conent{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 30px;
margin: 10px;
}
.image-conent img{
    width: 100%;
    transition: transform 0.5s ease 0.3ms;

}
.image-conent img:hover{
    transform: scale(1.1);
}

.features-list-text-content{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
}
.first-part{
    color: var(--dar-three-color);
    font-weight: 500;

}
.second-part{
    color: var(--dark-one-color);
    font-weight: 500;
}
.last-part{
    color: rgb(255, 144, 14);
    font-weight: 500;
}
.discription-features-list{
    width: 90%;
    color: var(--dar-three-color);
    font-size: 0.813rem;
}
@media screen and (max-width:576px){
    .features-list-text-content{
    width:350px;
    }

.text-content{
    /* width: 80%; */
    text-align: center;
    width: 420px;
}
.discription-features-list{
    text-align: center;
    margin-left: 30px;
}
.only-for-button{
    margin-top: 30px;
}
.image-conent{
    grid-template-columns: 1fr;
     margin: 0 auto;
     gap: 10px;
   
}
.image-conent img{
    /* transition: none; */
    width: 290px;
    height: 290px;

}
.image-conent img:hover{
    transform:scale(1.05);
}
}
/* .hide{
    display: none;
} */
 /* sponser new section */
.sponser{
 margin: 150px auto;
}
.sponser-heading{
 color: var(--dark-one-color);
font-size: 2rem;
font-weight: 400;
line-height: 53px;
letter-spacing: 0%;
text-align: center;
margin: 15px;
margin-bottom: 0px;
}
.sponser-discription{
color: var(--dar-three-color);    
font-family: Work Sans;
font-size: 0.75rem;
font-weight: 400;
line-height: 1.2rem;
letter-spacing: 0%;
text-align: center;
margin: 5px;
}
.sponser-image-content{
display: grid;
grid-template-columns: repeat(5, 1fr);
margin: 50px 5px;
gap: 5px;
}
.sponser-image-content img{
    transition: transform 1.5s ease 0.3ms;
    filter:grayscale(100%);
}
.sponser-image-content img:hover{
    filter: none;
    transform: rotate(360deg);
}
@media screen and(max-width:576px) {
    .sponser-image-content{
        /* display: grid;
        grid-template-columns:1fr;
        gap: 5px; */
        } 
}
